<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hullo! Allow myself to introduce... myself.</h1>
    <p>I'm Donavon McDonald. But you can call me Teh Do-Man 5000</p>
    <p>This here blog thang is a work in teh progress. Gettin' some major ownage on teh Rails atm. I bet you'd like a link to me personal website, huh? Well... to that I say, "Yeah Wuteva". So good. Holla!</p>
  </div>
</div>
